fastapi
uvicorn[standard]
python-multipart
langchain
langchain-community
langchain-qdrant
langchain-groq
pymupdf
qdrant-client
huggingface-hub
python-dotenv
langchain-huggingface
sentence-transformers
pydantic-settings
